.Deposit {
	background: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	height: calc(80vh - 60px);
	justify-content: center;
	left: 0;
	padding-top: 20vh;
	position: absolute;
	top: 60px;
	width: 100vw;
}

.Deposit .Description {
	margin: 0 36px;
	width: 360px;
}

.Deposit .Description span {
	color: rgb(88, 88, 92);
}

.Deposit .Description .Title {
	color: black;
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	margin-bottom: 24px;
}

.Deposit .Options {
	color: rgb(88, 88, 92);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	padding: 16px 0 0 8px;
	transition: 0.4s;
	margin: 0 36px;
	position: relative;
	white-space: pre;
	width: 300px;
}

.Deposit .Options .Amount {
	all: initial;
	border-bottom: 1px solid rgb(173, 174, 176);
	color: inherit;
	display: block;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 36px;
	padding: 16px 8px 0 8px;
	transition: 0.4s;
	width: 300px;
}

.Deposit .Options .Amount:hover {
	border-bottom: 1px solid rgb(29, 29, 32);
	color: rgb(0, 0, 0);
}

.Deposit .Options .Amount::placeholder {
	color: inherit;
}

.Deposit .Options .Cancel {
	border: none;
	cursor: pointer;
	display: inline-block;
	margin-left: 2px;
	padding: 8px 16px;
}

.Deposit .Options .Methods {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(173, 174, 176);
	border-radius: 1px;
	max-height: 300px;
	overflow: hidden auto;
	position: absolute;
	top: 76px;
}

.Deposit .Options .Methods .Method {
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	min-width: 300px;
	padding: 16px;
	transition: 0.4s;
}

.Deposit .Options .Methods .Method:hover {
	background: rgb(238, 239, 241);
	color: rgb(0, 0, 0);
}

.Deposit .Options .SelectedMethod {
	border-bottom: 1px solid rgb(173, 174, 176);
	padding: 16px 0 12px 8px;
	transition: 0.4s;
	width: 308px;
}

.Deposit .Options .SelectedMethod:hover {
	border-bottom: 1px solid rgb(29, 29, 32);
	color: rgb(48, 48, 52);
	cursor: pointer;
}

.Deposit .Options .SelectedMethod .Icon {
	fill: rgb(88, 88, 92);
	height: 24px;
	left: 340px;
	position: absolute;
	transition: 0.4s;
	top: 38px;
	width: 24px;
}

.Deposit .InitiateDeposit,
.Deposit .InitiateDepositConfirm {
	all: initial;
	background: rgb(18, 25, 44);
	border: 1px solid rgb(18, 25, 44);
	color: rgb(248, 249, 251);
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-top: 36px;
	padding: 8px 12px;
	transition: 0.4s;
	width: fit-content;
}

.Deposit .InitiateDepositConfirm {
	margin-top: 72px;
}

.Deposit .InitiateDeposit:hover,
.Deposit .InitiateDepositConfirm:hover {
	background: rgb(255, 255, 255);
	color: rgb(48, 48, 52);
	cursor: pointer;
}
