.Assign {
	background: rgb(248, 249, 251);
	display: flex;
	flex-wrap: wrap;
	height: calc(80vh - 60px);
	justify-content: center;
	left: 0;
	padding-top: 20vh;
	position: absolute;
	top: 60px;
	width: 100vw;
}

.Assign table {
	border-collapse: collapse;
	line-height: 1.5;
	text-align: left;
	text-overflow: ellipsis;
	white-space: pre;
	width: 300px;
}

.Assign table tbody tr td {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	max-width: 150px;
	opacity: 0.8;
	overflow: hidden;
	padding: 16px 8px;
	text-overflow: ellipsis;
	vertical-align: top;
	width: 50%;
}

.Assign table tbody tr {
	border-bottom: 1px solid rgb(223, 224, 226);
	cursor: pointer;
	transition: 0.4s;
}

.Assign table tbody tr:hover {
	background: rgb(238, 239, 241);
	border-bottom: 1px solid rgb(29, 29, 32);
	color: rgb(0, 0, 0);
}

.Assign .Option0 {
	display: block;
	font-size: 14px;
	margin: 24px 8px;
	width: fit-content;
}

.Assign .Title {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	margin: 0 36px;
	width: 300px;
}
