.Clients table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.Clients table tbody tr td,
.Clients table thead tr th {
	border-bottom: 1px solid rgb(223, 224, 226);
	font-weight: 400;
	padding: 16px 8px;
}

.Clients table tbody tr td svg {
	fill: rgb(74, 75, 77);
	height: 14px;
	margin: 0 10px;
	width: 14px;
}

.Clients table thead tr th {
	border-top: 1px solid rgb(223, 224, 226);
	width: 25%;
}

.Clients table thead tr th {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	opacity: 0.8;
	text-transform: uppercase;
}

.Clients table tbody tr td .Assign {
	color: rgb(230, 39, 28);
	fill: rgb(230, 39, 28);
}

.Clients .Options {
	align-items: center;
	display: flex;
	margin: 36px 0;
	justify-content: space-between;
	width: 100%;
}

.Clients .Options .Option1,
.Clients .Options .Option2 {
	border: 1px solid rgb(43, 44, 46);
	border-radius: 1px;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	padding: 12px 16px;
	transition: background-color 0.15s;
}

.Clients .Options .Option1 {
	background: rgb(43, 44, 46);
	color: rgb(250, 250, 250);
}

.Clients .Options .Option1:hover {
	background: rgb(255, 255, 255);
	color: inherit;
	text-decoration: underline;
}

.Clients .Options .Option2:hover {
	background: rgb(43, 44, 46);
	color: rgb(250, 250, 250);
	text-decoration: underline;
}

.Clients .Option0 {
	display: block;
	padding: 16px 8px;
	width: fit-content;
}

.Clients .Title {
	font-size: 24px;
}
