.Portfolios table {
	border-collapse: collapse;
	line-height: 1.5;
	overflow-x: auto;
	text-align: left;
	white-space: pre;
	width: 100%;
}

.Portfolios table tbody tr td,
.Portfolios table thead tr th {
	border-bottom: 1px solid rgb(223, 224, 226);
	font-weight: 400;
	padding: 16px 8px;
	vertical-align: top;
}

.Portfolios table thead tr th {
	border-top: 1px solid rgb(223, 224, 226);
	width: 25%;
}

.Portfolios table thead tr th {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	opacity: 0.8;
	text-transform: uppercase;
}

.Portfolios .Options {
	align-items: center;
	display: flex;
	margin: 36px 0;
	justify-content: space-between;
	width: 100%;
}

.Portfolios .Options .Option1 {
	background: rgb(43, 44, 46);
	border: 1px solid rgb(43, 44, 46);
	border-radius: 1px;
	color: rgb(248, 249, 251);
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	padding: 12px 16px;
	transition: background-color 0.15s;
}

.Portfolios .Options .Option1:hover {
	background: rgb(248, 249, 251);
	color: rgb(43, 44, 46);
}

.Portfolios .Option0 {
	display: block;
	margin: 16px 0;
	padding: 16px 8px;
	width: fit-content;
}

.Portfolios .Title {
	font-size: 24px;
}
