.Home {
	font-family: -apple-system, 'system-ui', Roboto, 'Helvetica Neue', sans-serif !important;
	font-feature-settings: 'pnum';
	font-variant-numeric: proportional-nums;
	font-size: 14px;
	font-weight: 500;
}

.Home nav {
	align-items: center;
	color: rgb(64, 68, 82);
	display: flex;
	margin-top: 1.5vw;
	height: 40px;
	justify-content: space-between;
	padding: 0 3vw;
	width: calc(100% - 6vw);
}

.Home nav .Button {
	margin-left: 20px;
}

.Home .Logo {
	border: 2px solid rgb(18, 25, 44);
	border-radius: 6px;
	color: rgb(18, 25, 44);
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	margin-right: 12px;
	text-align: center;
	text-decoration: none;
	width: 30px;
}

.Home .ToSignIn {
	color: inherit;
}

.Home .Hero {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	height: calc(76vh - 80px);
	margin-bottom: 18vh;
}

.Home .Hero .Button {
	margin: 0 12px 0 0;
}

.Home .Hero .Title {
	color: rgb(18, 25, 44);
	font-family: 'Playfair Display', serif;
	font-size: 52px;
	font-weight: 500;
	margin-bottom: 16px;
	white-space: pre;
}

.Home .Compliance {
	background: rgb(18, 25, 44);
	min-height: 100vh;
}
