.Client table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.Client table tbody tr td,
.Client table thead tr th {
	border-bottom: 1px solid rgb(223, 224, 226);
	font-weight: 400;
	padding: 16px 8px;
}

.Client table tbody tr td svg {
	fill: rgb(74, 75, 77);
	height: 14px;
	margin: 0 10px;
	width: 14px;
}

.Client table thead tr th {
	border-top: 1px solid rgb(223, 224, 226);
	width: 25%;
}

.Client table thead tr th {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	opacity: 0.8;
	text-transform: uppercase;
}

.Client .Options {
	align-items: center;
	display: flex;
	margin: 36px 0;
	justify-content: space-between;
	width: 100%;
}

.Client .Options .Option {
	background: rgb(18, 25, 44);
	border: 1px solid rgb(18, 25, 44);
	border-radius: 1px;
	color: rgb(248, 249, 251);
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	padding: 12px 16px;
	transition: 0.4s;
}

.Client .Options .Option:hover {
	background: rgb(255, 255, 255);
	color: inherit;
	text-decoration: underline;
}
.Client .Title {
	font-size: 24px;
}

.Client .Totals td {
	border: none;
}
