.Transactions table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.Transactions table caption {
	font-size: 20px;
	padding: 0 0 20px 8px;
	text-align: left;
}

.Transactions table tbody tr td,
.Transactions table thead tr th {
	border-bottom: 1px solid rgb(223, 224, 226);
	font-weight: 400;
	padding: 16px 8px;
}

.Transactions table tbody tr td svg {
	fill: rgb(74, 75, 77);
	height: 14px;
	margin: 0 10px;
	width: 14px;
}

.Transactions table thead tr th {
	border-top: 1px solid rgb(223, 224, 226);
	width: 25%;
}

.Transactions table thead tr th {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	opacity: 0.8;
	text-transform: uppercase;
}
