.Overview .Quickstart {
	width: 600px;
}

.Overview .Quickstart thead th {
	white-space: nowrap !important;
}

.Overview .Quickstart tr td {
	text-transform: none !important;
}

.Overview .AreaChart {
	height: 250px;
	margin-bottom: 60px;
	width: 100%;
}

.Overview .AreaChart tspan,
.Overview .AreaChart .recharts-tooltip-label,
.Overview .AreaChart .recharts-tooltip-item-list {
	color: rgb(26, 27, 29);
	font-family: inherit;
	font-size: 11px;
	font-weight: 500;
}

.Overview .TotalBalance {
	color: rgb(26, 27, 29);
	font-size: 18px;
	font-weight: 500;
	padding-left: 8px;
}

.Overview .PendingInvites tbody tr td {
	text-transform: none !important;
}

.Overview .PendingInvites .Blue:hover,
.Overview .PendingInvites .Red:hover {
	cursor: pointer;
	text-decoration: underline;
}
