.Invites .Title {
	font-size: 24px;
}

.Invites form {
	margin: auto;
	width: 400px;
}

.Invites form input {
	height: 32px;
	margin-bottom: 20px;
	width: 100%;
}

.Invites form textarea {
	all: initial;
	all: inherit;
	border: 1px solid black;
	height: 300px;
	padding: 10px;
	margin-bottom: 20px;
	width: calc(100% - 20px);
}
