.Invites .Custodian {
	font-size: 20px;
	margin-bottom: 24px;
	margin-top: 72px;
}

.Invites .Flex {
	display: flex;
	justify-content: space-between;
	width: 728px;
}

.Invites .Flex .Copy {
	background: rgb(18, 25, 44);
	border: 1px solid rgb(18, 25, 44);
	color: rgb(248, 249, 251);
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	letter-spacing: 0.5px;
	padding: 8px 12px;
	transition: 0.4s;
	width: fit-content;
}

.Invites .Flex .Copy:hover {
	background: transparent;
	color: rgb(43, 44, 46);
}

.Invites .Flex .Url {
	background: rgb(248, 249, 251);
	border: 1px solid rgb(223, 224, 226);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	max-width: 150px;
	opacity: 0.8;
	overflow: hidden;
	padding: 8px 12px;
	text-overflow: clip;
	transition: 0.4s;
	max-width: 600px;
	white-space: nowrap;
}

.Invites .Flex .Url:hover {
	border: 1px solid rgb(143, 144, 146);
}

.Invites .Title {
	font-size: 24px;
}
