.CoinbasePro {
	align-items: center;
	background: white;
	display: flex;
	height: 90vh;
	justify-content: center;
	left: 0;
	padding-bottom: 10vh;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 100;
}

.CoinbasePro input {
	margin-bottom: 8px !important;
}

.CoinbasePro .Continue {
	margin-top: 24px !important;
}

.CoinbasePro .Title {
	margin-bottom: 28px !important;
}
