.Navigation {
	background: rgb(243, 244, 246);
	border-right: 1px solid rgb(223, 224, 226);
	display: flex;
	flex-direction: column;
	height: calc(100vh - 60px - 1px);
	justify-content: space-between;
	padding-top: 1px;
	max-height: calc(100vh - 60px);
	overflow: hidden auto;
}

.Navigation a {
	color: rgb(74, 75, 77);
	display: block;
	fill: rgb(74, 75, 77);
	font-size: 15px;
	font-weight: 500;
	height: 16px;
	padding: 12px 36px;
	transition: color 0.4s, fill 0.4s;
}

.Navigation a:hover {
	color: rgb(0, 0, 0);
	fill: rgb(0, 0, 0);
}

.Navigation svg {
	display: inline-block;
	fill: inherit;
	height: inherit;
	margin-right: 12px;
	width: 20px;
	vertical-align: top;
}

.Navigation .Search {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(223, 224, 226);
	border-radius: 2px;
	margin: 36px 20px;
	width: calc(100% - 40px - 3px);
}

.Navigation .Search input {
	all: initial;
	color: rgb(74, 75, 77);
	display: inline-block;
	font-family: inherit;
	font-size: 15px;
	font-weight: 500;
	height: 14px;
	padding: 11px 0;
	vertical-align: top;
	width: calc(100% - 42px - 2px);
}

.Navigation .Search input::placeholder {
	color: rgb(74, 75, 77);
}

.Navigation .Search .SearchIcon {
	cursor: pointer;
	fill: rgb(74, 75, 77);
	height: 14px;
	padding: 11px 0 11px 10px;
}
