.Navigation {
	background: rgb(18, 25, 44);
	display: flex;
	font-family: -apple-system, 'system-ui', Roboto, 'Helvetica Neue', sans-serif !important;
	justify-content: space-between;
	left: 0;
	padding: 0 20px;
	position: fixed;
	top: 0;
	width: calc(100vw - 40px);
	z-index: 100;
}

.Navigation a {
	color: rgb(248, 249, 251);
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	padding: 12px 13px;
	vertical-align: middle;
}

.Navigation a div {
	display: inline-block;
	text-decoration: inherit;
	vertical-align: middle;
}

.Navigation a svg {
	display: inline-block;
	fill: rgb(248, 249, 251);
	height: 13px;
	margin-right: 4px;
	width: 13px;
	vertical-align: middle;
}

.Navigation .Logo {
	border: 1.5px solid rgb(248, 249, 251);
	border-radius: 4px;
	font-weight: 600;
	margin: 0 6px 0 12px;
	padding: 0;
	line-height: 22px;
	text-align: center;
	width: 22px;
}

.Navigation .Profile a {
	padding: 12px 10px;
}

.Navigation .Profile a svg {
	margin-right: 0;
	height: 14px;
	width: 14px;
}
