.Edit {
	background: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	height: calc(80vh - 60px);
	justify-content: center;
	left: 0;
	overflow: hidden auto;
	padding-top: 20vh;
	position: absolute;
	top: 60px;
	width: 100vw;
}

.Edit form {
	margin: 0 36px;
	width: 300px;
}

.Edit form a {
	display: block;
	font-size: 14px;
	margin-top: 24px;
}

.Edit form button {
	all: initial;
	background: rgb(18, 25, 44);
	border: 1px solid rgb(18, 25, 44);
	color: rgb(248, 249, 251);
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-top: 28px;
	padding: 8px 12px;
	transition: background-color 0.4s, color 0.4s;
}

.Edit form button:hover {
	background: rgb(248, 249, 251);
	color: rgb(48, 48, 52);
	cursor: pointer;
}

.Edit form input {
	all: initial;
	border-bottom: 1px solid rgb(173, 174, 176);
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 36px;
	padding: 16px 8px 0 8px;
	opacity: 0.8;
	transition: 0.4s;
}

.Edit form input:active,
.Edit form input:hover {
	border-bottom: 1px solid black;
	color: rgb(0, 0, 0);
	opacity: 1;
}

.Edit form input::placeholder {
	color: inherit;
}

.Edit form .AddHolding {
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 36px;
	margin: 16px 0;
	padding: 0 8px;
	opacity: 0.8;
	transition: 0.4s;
	width: fit-content;
}

.Edit form .AddHolding:hover {
	text-decoration: underline;
}

.Edit form .Allocation {
	position: relative;
}

.Edit form .Allocation .Flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.Edit form .Allocation .Flex .Holding {
	width: 180px;
}

.Edit form .Allocation .Flex .Percent {
	width: 60px;
	text-align: right;
}

.Edit form .Allocation .Holdings {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(173, 174, 176);
	color: rgb(89, 89, 93);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	max-height: 400px;
	overflow: hidden auto;
	position: absolute;
	transition: 0.4s;
	width: 298px;
	z-index: 1;
}

.Edit form .Allocation .Holdings div:hover {
	background: rgb(243, 244, 246);
	color: rgb(0, 0, 0);
}

.Edit form .Allocation .Holdings div {
	border-bottom: 1px solid rgb(173, 174, 176);
	cursor: pointer;
	padding: 16px;
	transition: 0.4s;
}

.Edit form .Cancel {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	opacity: 0.8;
	padding: 8px 16px;
}

.Edit form .Cancel:hover {
	text-decoration: underline;
}

.Edit form .RemoveHolding {
	color: rgb(230, 39, 28);
	font-size: 14px;
	left: 330px;
	position: absolute;
	top: 26px;
	width: fit-content;
}

.Edit form .RemoveHolding:hover {
	cursor: pointer;
	text-decoration: underline;
}

.Edit form .PortfolioName {
	width: calc(300px - 18px);
}

.Edit .Title {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	margin: 0 36px;
	width: 300px;
}
