a {
	color: rgb(0, 102, 204);
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

body {
	color: rgb(48, 48, 52);
	font-family: 'Inter', sans-serif;
	margin: 0;
	text-size-adjust: 100%;
}
